@import "../../styles/breakpoints.scss";
.quickbuy-cart-container {
padding: 20px;
padding-top: 8px;
padding-bottom: 8px;
min-width: 132px;
border: 2px solid #f2f2f2;
border-radius: 12px;
display: flex;
align-items: center;
width: 100%;
@include md {
width: auto;
padding-top: 12px;
padding-bottom: 12px;
}
.quickbuy-cart-counter {
background-color: black;
width: 36px;
height: 36px;
display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: 600;
border-radius: 100%;
}
.quickbuy-cart-text {
margin-left: 22px;
}
}