.quickbuy-button {
  padding: 22px;
  background-color: black;
  border: none;
  border-radius: 18px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-top: 44px;
  margin-bottom: 44px;
  width: 100%;
  cursor: pointer;
  }